<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pillhelper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.example.pillhelper.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.pillhelper.ActivityAlarmeAtivo" />
        <activity android:name="com.example.pillhelper.IntervaloHorarioActivity" />
        <activity android:name="com.example.pillhelper.HorarioFixActivity" />
        <activity android:name="com.example.pillhelper.CadastrarAlarmeActivity" />
        <activity
            android:name="com.example.pillhelper.FragmentsActivity"
            android:parentActivityName="com.example.pillhelper.MainActivity" />
        <activity android:name="com.example.pillhelper.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.pillhelper.CadastroActivity" />
        <activity android:name="com.example.pillhelper.LoginActivity" />
        <activity android:name="com.example.pillhelper.TimePickerActivity" />
        <activity
            android:name="com.example.pillhelper.AllMedicinesActivity"
            android:parentActivityName="com.example.pillhelper.FragmentsActivity" />
        <activity
            android:name="com.example.pillhelper.CadastrarCaixaActivity"
            android:parentActivityName="com.example.pillhelper.FragmentsActivity" />

        <receiver
            android:name="com.example.pillhelper.AlarmeReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="TODO" />
    </application>

</manifest>